/* Reset Default Browser Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero-image{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0,.5)),
url("Karamu coding club logo.png");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text{
    text-align: center;
    position: absolute;
    
}



/* Body Styling */
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}

/*Navigation Bar*/

.navbar {
    list-style-type: none;
    overflow: hidden;
    background-color: #333;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    transition: 0.3s;
}

.navbar li a:hover {
    background-color: #111;
}

.navbar .active {
    background-color: #04AA6D;
}

/* Split Layout */

.main-content {
    display: flex;
    width: 100%;
    min-height: 600px;
}

/* Left Side */
.left-section {
    width: 50%;
    padding: 20px;
    border-right: 2px solid #ccc;
    background-color: #f9f9f9;
}

/* Right Side */
.right-section {
    width: 50%;
    padding: 20px;
    background-color: white;
}

/* Header Bars*/

.section-header {
    background-color: #333;
    color: white;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    padding: 15px;
    border-bottom: 4px solid #04AA6D;
    border-radius: 5px 5px 0 0;
    margin-bottom: 15px;
}

/* Text Areas*/

.content-box {
    width: 100%;
    height: calc(100vh - 140px);
    padding: 15px;
    font-size: 16px;
    border: 2px solid #333;
    border-radius: 0 0 5px 5px;
    background-color: white;
    overflow-y: auto;
}
/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}